%h1 问题(好啦，我知道这个页面没什么意义，只是不把它做出来我就难受这样总可以吧)

.questions
  - @questions.each do |question|
    .question
      To: 
      = link_to receiver_of(question).name, user_path(receiver_of(question)), class: "name"
      .date= time_ago_in_words question.created_at
      .content= question.content
