%h1 About

.about
  %h3 大概就是照着 #{link_to "ask.fm", "http://ask,fm"} 做的。
  %h3 这里只是个 demo 而已，代码在 #{link_to "GitHub", "https://github.com/messiahxu/AskFm"}。
  
  %h4 TODO:
  %ul
    %li 重写 following followers 页面的关注、取消关注功能。
    %li 收到问题，收到回答的通知功能。
