// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// _answer.html.haml
.answer {
  display: block;
  margin: 10px 0;
  min-height: 80px;
  .gravatar{
    float: left;
    margin-right: 10px;
    height: 70px;
  }
  .box {
    float: right;
    width: 860px;
    .content {
      float: left;
      min-height: 70px;
      .question_content {
        display: inline;
        font-weight: bold;
        margin-right: 10px;
      }
      a {
        display: inline;
        color: #3081A3;
        &:hover {
          text-decoration: underline;
          color: #3081A3;
        }
      }
      .answer_content {
        margin: 8px 0 5px 0;
      }
      .date {
        display: inline;
        font-weight: normal;
        color: #808080;
        font-size: 12px;
      }
    }
  }
}

