// 页脚

footer {
  background-color: white;
  border: solid #264C67;
  border-radius: 10px;
  width: 940px;
  margin: 10px auto;
  padding: 10px 20px;
  a {
    text-decoration: none;
    color: #333333;
  }
  ul.pull_right {
    float: right;
    li {
      display: inline-block;
    }
  }
}
