// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
  margin: 20px 0;
  a.name {
    color: #3081A3;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
      color: #3081A3;
    }
  }
  .date {
    display: inline;
    color: #808080;
    font-size: 12px;
  }
  .content {
    margin: 5px 0 10px 0;
  }
}
.need_to_answer {
  margin: 20px 0;
  .question {
    margin-bottom: 10px;
  }
  .date {
    font-weight: normal;
    color: #808080;
  }
  .content {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
  }
  a.name {
    color: #3081A3;
    &:hover {
      text-decoration: underline;
      color: #3081A3;
    }
  }
  a.reply {
    color: #3081A3;
    &:hover {
      text-decoration: underline;
      color: #3081A3;
    }
  }
}
.questions-list {
  margin: 20px 0;
  a {
    text-decoration: none;
    color: #3081A3;
    &:hover {
      text-decoration: underline;
      color: #3081A3;
    }
  }
  .question {
    .content {
      display: inline;
      font-weight: bold;
      margin-right: 20px;
    }
    .date {
      font-weight: normal;
      color: #808080;
    }
  }
}

.ask {
  margin-right: 10px;
  //min-height: 290px;
  strong {font-size: 25px;}
  textarea {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 36px;
    padding: 5px;
    resize: none;
    border: solid 1px #CCCCCC;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
  }
  .post {
    width: 100%;
    padding-right: 10px;
    border: solid 1px #CCCCCC;
    border-top: none;
    border-radius: 0 0 5px 5px;
    height: 36px;
    .counter {
      float: left;
      margin: 10px;
      color: #999999;
    }
    .button {
      float: right;
      background-color: #37C8FF;
      border: none;
      font-weight: bold;
    }
    .disabled {
      background-color: #ABADB3;
    }
  }
}

