// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin: 10px 0;
  .gravatar {
    float: right;
    height: 200px;
    width: 200px;
    margin-right: 100px;
  }
}
.field {
  padding-bottom: 14px;
  label {
    font-size: 16px;
  }
  input {
    border: solid 1px #ABADB3;
    border-radius: 5px;
    width: 500px;
    font-size: 16px;
    padding: 8px 5px;
    margin-top: 5px;
  }
  textarea {
    border: solid 1px #ABADB3;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    font-size: 16px;
    padding: 8px 5px;
    margin-top: 5px;
  }
}
.submit {
  border-radius: 5px;
  width: 250px;
  padding: 8px 5px;
  font-size: 16px;
  background-color: #2C84E2;
  color: white;
}
#error_explanation {
  p {
    width: 500px;
    border-radius: 5px;
    background-color: #E9BDBD;
    margin: 15px 0;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    color: #AA0606;
  }
  ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
    color: #E93838;
    font-weight: bold;
  }
}
// Profile
.profile {
  margin: 10px 0 0 0;
  //padding-bottom: 15px;
  display: block;
  min-height: 190px;
  .private {
    display: block;
    float: left;
    .button {
      padding: 5px 0;
      width: 150px;
      text-align: center;
    }
    .gravatar {
      margin-right: 20px;
      width: 150px;
      height: 150px;
      display: block;
    }
  }
  .desc {
    margin: 0 10px;
    float: right;
    width: 750px;
    .info {
      float: left;
      width: 310px;
      .name {
        padding-bottom: 10px;
        a {
          font-weight: bold;
          font-size: 30px;
          color: #000000;
          &:hover {
            color: #0069D6; 
            text-decoration: underline;
          }
        }
      }
      .bio {
        font-style: italic;
        font-size: 12px;
        color: #777777;
        padding-bottom: 10px;
      }
    }
    .statistic {
      float: right;
      text-align: center;
      .box {
        float: right;
        margin: 0 7px;
        font-size: 19px;
      }
      a {
        .counter {
          font-size: 16px;
          font-weight: bold;
          color: #000000;
          &:hover {text-decoration: none;}
        }
        span {
          color: #0069D6;
          &:hover {
            color: #0069D6; 
            text-decoration: underline;
          }
        }
      }
      span {display: block;}
    }
  }
}
// Index
.users-list {
  margin: 20px auto;
  .user-by-admin {
    margin: 10px;
    font-size: 30px;
    img{
    }
    a {
      text-decoration: none;
    }
  }
  .user {
    margin: 10px 20px 0 0;
    width: 70px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    img {
      display: block;
      text-align: center;
      width: 70px;
      height: 70px;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #0069D6;
      &:hover { color: #0069D6; }
    }
  }
}
